button {
  background-color: #0c80f3;
  border: 6px solid #0ff166;
  border-radius: 10px;
  cursor: pointer;
}

.game-board {
  width: 600px;
  height: 600px;
  margin: 0 auto;
  margin-top: 50px;
  background-color: #34495e;
  color: rgb(204, 28, 28);
  border: 6px solid #0b0d0f;
  border-radius: 10px;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr;
}

.grid-row {
  border: 6px solid #739dc7;
  border-radius: 6px;
  font-family: Helvetica;
  font-weight: bold;
  font-size: 50em;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: rgb(175, 70, 70);
}

.block {
  background-color: rgb(219, 28, 28);
  border: 6px solid green;
  border-radius: 6px;
  font-family: Helvetica;
  font-weight: bold;
  font-size: 20em;
}

.red {
  color: red;
  font-size: 50px;
}

.white {
  color: white;
  font-size: 50px;
}

.black {
  color: black;
  font-size: 50px;
}

.noclick {
  pointer-events: none;
}

.canclick {
  pointer-events: all;
}

.info {
  color: white;
  font-size: 12px;
  display: grid;
  grid-template-rows: 50px 50px;
  grid-template-columns: 1fr 1fr;
}

.span {
  cursor: pointer;
  font-size: 32px;
  grid-column: 2 /3;
  grid-row: 1 / 3;
}
